.Seats header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C3CFD9;
    color: #E8833A;
    text-align: center;
    font-size: 34px;
    font-family: 'Roboto';
}
.Seats h1{
    height: 110px;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    padding-top: 40px
}
.Seats main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Seats .all-seats{
    width: 370px;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.Seats .all-seats .ball{
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    font-size: 12px;
    color: #000;
}
.colorSelected{
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;
}
.colorAvailable{
    background-color: #C3CFD9;
    border: 1px solid #7B8B99;
}
.colorUnavailable{
    background-color: #FBE192;
    border: 1px solid #F7C52B;
}
.Seats footer{
    width: 100%;
    height: 125px;
    padding: 14px;
    background-color: #9EADBA;
    display: flex;
    align-items: center;
}
.Seats footer .film{
    width: 60px;
    height: 90px;
    margin-right: 14px;
    border-radius: 3px;
    padding: 8px;
    box-shadow: 0px 2px 4px 2px #00000051;
    cursor: pointer;
    background-color: white;
}
.Seats footer .film img{
    width: 100%;
    height: 100%;
}
.Seats footer h1{
    font-family: 'Roboto';
    font-size: 26px;
    text-align: left;
}
.Seats .loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Seats .subtitle{
    width: 370px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Seats .subtitle .content-subtitle{
    width: 68px;
    height:60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
}
.Seats .content-subtitle .ball{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.Seats .form{
    width: 370px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}
.Seats .form .label-nome,.Seats .form .label-cpf{
    font-size: 18px;
    font-family: 'Roboto';
    margin-top: 20px;
}
.Seats .form input{
    width: 327px;
    height: 50px;
    border: 1px solid #d4d4d4;
    padding: 10px;
    color: #AFAFAF;
    font-family: 'Roboto';
    font-style: italic;
    margin-top: 20px;
}
.Seats .form .cpf{
    margin-bottom: 70px;
}
.Seats .form button{
    width: 225px;
    height: 100px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 18px;
    color: white;
    background-color: #E8833A;
    text-decoration: none;
    cursor: pointer;
    box-sizing: none;
}
.Seats .okay{
    display: block;
}
.Seats .hide{
    display: none;
}
.Seats Link{
    width: 20px;
    height: 20px;
    background-color: #000;
}



